<p-dialog header="{{selectedInvoice.monthYear}}" [(visible)]="displayDetailedInvoice" *ngIf="selectedInvoice">
  <table class="table table-stripped">
    <tr>
      <td>Monthly fee</td>
      <td>x 1</td>
      <td>{{ customer.pricingPlan.monthlyFee | currency:'eur'}}</td>
    </tr>
    <tr>
      <td>Day half hours</td>
      <td>x {{ selectedInvoice.dayHalfHours }}</td>
      <td>{{ selectedInvoice.dayHalfHours * customer.pricingPlan.dayHalfHourFee | currency:'eur'}}</td>
    </tr>
    <tr>
      <td>Night half hours</td>
      <td>x {{ selectedInvoice.nightHalfHours }}</td>
      <td>{{ selectedInvoice.nightHalfHours * customer.pricingPlan.nightHalfHourFee | currency:'eur'}}</td>
    </tr>
    <tr>
      <td><b>Total</b></td>
      <td></td>
      <td><b>{{ selectedInvoice.totalFee | currency:'eur' }}</b></td>
    </tr>
  </table>
</p-dialog>

<p-dialog header="Error!" [(visible)]="displayError" *ngIf="error">
  <div class="alert alert-warning">
    {{ error }}
  </div>
</p-dialog>

<p-accordion>
  <p-accordionTab header="{{monthYear}}" *ngFor="let monthYear of monthYears">
    <p-dataList [value]="dataGroups[monthYear].parkings" class="list-container">
      <p-header>
        <div class="row">
          <div class="col-sm-6 text-left">
            <b>Parking house</b>
          </div>
          <div class="col-sm-3 text-left">
            <b>Arrival</b>
          </div>
          <div class="col-sm-3 text-left">
            <b>Departure</b>
          </div>
        </div>
      </p-header>
      <p-footer>
        <div class="row">
          <div class="col-sm-4 text-left">
            <button pButton type="button"
                    (click)="generateOrShowInvoice(monthYear)"
                    label="{{dataGroups[monthYear].invoice ? 'Show invoice details' : 'Generate invoice'}}">
            </button>
          </div>
          <div class="col-sm-offset-4 col-sm-4">
            <span *ngIf="dataGroups[monthYear].invoice"><b>Total: </b> {{ dataGroups[monthYear].invoice.totalFee | currency:'eur' }}</span>
          </div>
        </div>
      </p-footer>
      <template let-parking pTemplate="item">
        <div class="row">
          <div class="col-sm-6">
            <b>{{ parking.parkingHouse }}</b>
          </div>
          <div class="col-sm-3">
            {{ parking.arrival }}
          </div>
          <div class="col-sm-3">
            {{ parking.departure }}
          </div>
        </div>
      </template>
    </p-dataList>
  </p-accordionTab>
</p-accordion>
