/* You can add global styles to this file, and also import other style files */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/primeng/resources/themes/bootstrap/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  color: gray;
  text-transform: uppercase;
  padding: 10px;
}

.list-container .row {
  padding: 15px;
  margin: 0;
  border-bottom:1px solid #e0e0e0;
}
