<div class="container-fluid">
  <h3>Parking UI</h3>
  <div [ngSwitch]="selectedCustomer">
    <div *ngSwitchCase="null">
      <p-dataList [value]="customers" class="list-container">
        <template let-customer pTemplate="item">
          <div class="row">
            <div class="col-sm-3">
              <b>{{ customer.fullName }}</b>
            </div>
            <div class="col-sm-3">
              {{ customer.pricingPlan.name }}
            </div>
            <div class="col-sm-6 text-right">
              <button pButton type="button" (click)="loginAs(customer)" label="Login"></button>
            </div>
          </div>
        </template>
      </p-dataList>
    </div>
    <div *ngSwitchDefault>
      You are logged in as {{ selectedCustomer.fullName }} using plan {{ selectedCustomer.pricingPlan.name }}
      <parking-list [customer]="selectedCustomer"></parking-list>
      <br>
      <button class="pull-right" pButton type="button" (click)="logout()" label="Logout"></button>
    </div>
  </div>

</div>
